{% extends 'base.html' %} {% block content %}
<section class="post-form section-header-offset">
    <div class="post-form-container container">
        <div class="post-form-data">
            <form class="form-box form" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.title.label }}<br>
                    {{ form.title(class="form-input") }}<br>
                    {% for error in form.title.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.content.label }}<br>
                    {{ form.content(class="form-input") }}<br>
                    {% for error in form.content.errors %}
                        <p content="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.short_description.label }}<br>
                    {{ form.short_description(class="form-input") }}<br>
                    {% for error in form.short_description.errors %}
                        <p content="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    <label for="photo">Header image</label><br>
                    <input type="file" class="form-control-file" id="photo" name="header_image"><br>
                </p>
                <p>
                    <label for="photo2">Preview image</label><br>
                    <input type="file" class="form-control-file" id="photo2" name="preview_image"><br>
                </p>
                {% if error %}
                    <div class="error-message">{{message}}</div>

                {% endif %}
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            </form>
        </div>
    </div>
</section>
{% endblock %}