<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>VeryCoolBlog | Home</title>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/images/favicon.png"
    />
    <!-- Remix icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="./assets/css/swiper-bundle.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <!-- Header -->
    <header class="header" id="header">
      <nav class="navbar container">
        <a href="./index.html">
          <h2 class="logo">VeryCoolBlog</h2>
        </a>
        <div class="menu" id="menu">
          <ul class="list">
            <li class="list-item">
              <a href="#" class="list-link current">Home</a>
            </li>
            <li class="list-item">
              <a href="#" class="list-link">Categories</a>
            </li>
            <li class="list-item">
              <a href="#" class="list-link">Blank</a>
            </li>
            <li class="list-item screen-lg-hidden">
              <a href="#" class="list-link">Sign in</a>
            </li>
            <li class="list-item screen-lg-hidden">
              <a href="#" class="list-link">Sing up</a>
            </li>
          </ul>
        </div>

        <div class="list list-right">
          <button class="btn place-items-center" id="theme-toggle-btn">
            <i class="ri-sun-line sun-icon"></i>
            <i class="ri-moon-line moon-icon"></i>
          </button>

          <button class="btn place-items-center" id="search-icon">
            <i class="ri-search-line"></i>
          </button>

          <button
            class="btn place-items-center screen-lg-hidden menu-toggle-icon"
            id="menu-toggle-icon"
          >
            <i class="ri-menu-3-line open-menu-icon"></i>
            <i class="ri-close-3-line close-menu-icon"></i>
          </button>

          <a href="#" class="list-link screen-sm-hidden">Войти</a>
          <a
            href="#"
            class="list-link screen-sm-hidden btn sign-up-btn fancy-border"
            ><span>Войти</span></a
          >
        </div>
      </nav>
    </header>
    <!--Search-->
    <div class="search-form-container container" id="search-form-container">
      <div class="form-container-inner">
        <form action="" class="form">
          <input type="text" class="form-input" placeholder="Search here" />
          <button class="btn form-btn" type="submit">
            <i class="ri-search-line"></i>
          </button>
        </form>
        <span class="form-note">Press ESC to close</span>
      </div>
      <button
        class="btn form-close-btn place-holder-items-center"
        id="form-close-btn"
      >
        <i class="ri-close-line"></i>
      </button>
    </div>
    <!--Featured articles-->
    <section class="featured-articles section-header-offset">
      <div class="featured-articles-container container d-grid">
        <div class="featured-contenr d-grid">
          <div class="headline-banner">
            <h3 class="headline fancy-border">
              <span class="place-items-center">Breaking news!!!!</span>
            </h3>
            <span class="headline-description">Someone DOES A THING DAMN</span>
          </div>
          <a
            href="./post.html"
            class="article featured-article featured-article-1"
          >
            <img
              src="./assets/images/featured/featured-1.jpg"
              alt=""
              class="article-image"
            />
            <span class="article-category">Technologydamn</span>
            <div class="article-data-container">
              <div class="article-data">
                <span>time</span>
                <span class="article-data-spcer">theme</span>
                <span>8 min read</span>
              </div>
              <h3 class="title article-title">Is waht is future</h3>
            </div>
          </a>
          <a
            href="./post.html"
            class="article featured-article featured-article-1"
          >
            <img
              src="./assets/images/featured/featured-1.jpg"
              alt=""
              class="article-image"
            />
            <span class="article-category">Technologydamn</span>
            <div class="article-data-container">
              <div class="article-data">
                <span>time</span>
                <span class="article-data-spcer">theme</span>
                <span>8 min read</span>
              </div>
              <h3 class="title article-title">Is waht is future</h3>
            </div>
          </a>
          <a
            href="./post.html"
            class="article featured-article featured-article-1"
          >
            <img
              src="./assets/images/featured/featured-1.jpg"
              alt=""
              class="article-image"
            />
            <span class="article-category">Technologydamn</span>
            <div class="article-data-container">
              <div class="article-data">
                <span>time</span>
                <span class="article-data-spcer">theme</span>
                <span>8 min read</span>
              </div>
              <h3 class="title article-title">Is waht is future</h3>
            </div>
          </a>
        </div>
      </div>
    </section>
    <!-- Swiper.js -->
    <script src="./assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="./assets/js/main.js"></script>
  </body>
</html>
