<!--TODO Change design for remember me button and fix form.input-->
{% extends 'base.html' %} {% block content %}
<section class="login-form section-header-offset">
    <div class="login-form-container container">
        <div class="login-form-data form-container-inner">
            <form class="form form-box" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-input">
                    {{ form.login.label }}<br>
                    {{ form.login(class="form-input", type="login") }}<br>
                    {% for error in form.login.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-input">
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-input", type="password") }}<br>
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-input">{{ form.remember_me(class="checkbox") }} {{ form.remember_me.label }}</div>
                <div class="form-input">
                    <div class="btn sign-up-btn fancy-border">
                        <span>{{ form.submit(type="submit")}}</span>
                    </div>
                </div>
                {% if message %}
                <div class="form-input">
                    <div class="error-message">{{ message }}</div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</section>
{% endblock %}