{% extends 'base.html' %} {% block content %}

    <section class="blog-post section-header-offset">
        <div class="blog-post-container container">
            <div class="blog-post-data">
                <h3 class="title blog-post-title">{{post.title}}</h3>
                <div class="article-data">
                    <span>{{post.created_date_string}}</span>
                    <span class="article-data-spacer"></span>
                    <span>{{post.reading_time_in_minutes}} Mins read</span>
                </div>
                <img src="/{{post.header_img}}" alt="">
            </div>

            <div class="container">
                {{post.content}}
                <div class="author d-grid">
                    <a href="/account/{{post.user.id}}" class="author-image-box">
                        <img src="/{{post.user.profile_image}}" alt="" class="article-image">
                    </a>
                    <div class="author-about">
                        <h3 class="author-name">{{post.user.name}} {{post.user.surname}}</h3>
                        <p>{{post.user.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}